.content-circle {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
h1 {
  font-size: 72px;
  font-weight: 800;
  text-align: left;
}
p {
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  padding-bottom: 30px;
}
.img-circle {
  position: relative;
  max-height: 600px;
}

.img-preview {
  position: absolute;
  top: 175px;
  right: -38px;
}

.first-content {
  padding: 65px 0;
}
.wrapper {
  display: flex;
}

@media (max-width: 425px) {
  .wrapper {
    display: block;
  }
  h1 {
    margin: 0;
    font-size: 48px;
  }
  .content-circle {
    width: 100%;
    padding-bottom: 35px;
    justify-content: space-between;
  }
  .content-info {
    width: 100%;
    position: relative;
  }
  .img-circle {
    max-height: 400px;
  }
  .img-preview {
    width: 128px;
    top: 30px;
    right: 178px;
  }
  .img-preview img{
    height: 350px;
  }
  .first-content {
    padding: 48px 0;
  }
}